@font-face {
    font-family: Bebas-Neue;
    src: url(../static/fonts/BebasNeue-Regular.ttf);    
}

body {
    font-family: Bebas-Neue;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 250, 243);
    background-image: url('../static/media/sidra.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#reloj {    
    font-size: 120px;
}

div h1 {
    color: white;
}

#clock_labels {
    font-size: large;
}

#reloj {    
    color: whitesmoke;
}

div a {
    font-size: 40px;
    color: white;
}

.txotx {
    text-shadow: 1px 1px 3px #fadf73;
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: #e2d668;
    font-size: 180px;
}

@media (max-width: 480px) {
    #clock_labels {
        font-size: medium;
    }

    #reloj {    
        font-size: 55px;
    }

    .txotx {
        font-size: 110px;
    }
}

.flip-scale-up-hor {
	-webkit-animation: flip-scale-up-hor 0.5s linear both;
	        animation: flip-scale-up-hor 0.5s linear both;
}


 @-webkit-keyframes flip-scale-up-hor {
    0% {
      -webkit-transform: scale(1) rotateX(0);
              transform: scale(1) rotateX(0);
    }
    50% {
      -webkit-transform: scale(1.5) rotateX(90deg);
              transform: scale(1.5) rotateX(90deg);
    }
    100% {
      -webkit-transform: scale(1) rotateX(180deg);
              transform: scale(1) rotateX(180deg);
    }
  }
  @keyframes flip-scale-up-hor {
    0% {
      -webkit-transform: scale(1) rotateX(0);
              transform: scale(1) rotateX(0);        
    }
    50% {
      -webkit-transform: scale(1.2) rotateX(45deg);
              transform: scale(1.2) rotateX(45deg);
    }
    100% {
      -webkit-transform: scale(1) rotateX(0deg);
              transform: scale(1) rotateX(0deg);
     
    }
  }
